---
---

@import "{{ site.theme }}";
body {
  color: black;
  font-size: 15px;
}
a small {
    color: black;
}
a {
    color: #0d69b7;
}
a:focus {
    text-decoration-line: underline;
    font-weight: normal;
}
